{% load thumbnail sekizai_tags filters l10n %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}cmsplugin_filer_gallery/galleria/galleria-1.2.8.js"></script>{% endaddtoblock %}
<style>
	#filer-gallery-plugin-{{ instance.pk }} .galleria-container {
		background: none;
	}
</style>

{% with instance.gallery.images.all as gallery_images %}
{%if gallery_images %}
{% addtoblock "css"%}<link rel="stylesheet" href="{{ STATIC_URL }}cmsplugin_filer_gallery/galleria/themes/classic/galleria.classic.css">{% endaddtoblock%}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}cmsplugin_filer_gallery/galleria/themes/classic/galleria.classic.min.js"></script>{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[

var config={{skitter_config|safe}};

$("#filer-gallery-plugin-{{ instance.pk }}").galleria(config);
//]]>
</script>
{% endaddtoblock %}

<div id="filer-gallery-plugin-{{ instance.pk }}" style="width: 100%;">
    <ul>
    {% for image in gallery_images %}
        <li>
            <a data-ajax="false" href="{{ image.image.url }}"><img src="{% thumbnail image.image 64x64 %}" alt="{{ image.image.description }}" title="{{ image.image.name }}"/></a>
        </li>
    {% endfor %}
    </ul> 
</div>
{%else%}
<div id="filer-gallery-plugin-{{ instance.pk }}" style="width: 100%;">
<h1>No images in {{ instance.gallery.title }}</h1>
</div>
{% endif%}
{% endwith %}
