{% load thumbnail sekizai_tags filters l10n %}

{% addtoblock "js" %}<script src="{{ STATIC_URL }}cmsplugin_filer_gallery/galleria/galleria-1.2.6.js"></script>{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[
Galleria.loadTheme('{{ STATIC_URL }}cmsplugin_filer_gallery/galleria/themes/classic/galleria.classic.min.js')
$("#filer-gallery-plugin-{{ instance.pk }}").galleria({
/*
  width: {{ instance.width }},
*/  
  height:  $("#filer-gallery-plugin-{{ instance.pk }}").width() * {{ instance.gallery.images.all.0.image|aspect_ratio|unlocalize }}
});
//]]>
</script>
{% endaddtoblock %}

<div id="filer-gallery-plugin-{{ instance.pk }}" style="width: 100%;">
    <ul>
    {% for image in instance.gallery.images.all %}
        <li>
            <a data-ajax="false" href="{{ image.image.url }}"><img src="{% thumbnail image.image 64x64 %}" alt="{{ image.image.name }}" title="{{ image.image.description }}"/></a>
        </li>
    {% endfor %}
    </ul> 
</div>
